<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <div class="hero background">
        <h2 class="hero-title visually-hidden">hero</h2>
        <div class="hero-wrap">
          <h1 class="hero-main-title">
            Treat yourself or a loved one to our finest ingredients for a moment
            of pure delight!
          </h1>
          <button class="hero-order-btn js-open-modal" data-modal="1">
            Buy now
          </button>
          <a href="#how_made" class="hero-info-btn">How it’s made</a>
          <p class="hero-text">scroll down</p>
          <a type="button" href="#footer" class="scroll-btn">
            <svg class="scroll-btn-icon" width="16" height="16">
              <use href="../img/icons.svg#arrow-down"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
