<div class="overlay js-overlay-modal"></div>
<div class="modal_reviews modal" data-modal="4">
  <button class="modal-close-button js-modal-close" type="button">
    <svg class="modal-close-icon" width="12" height="12">
      <use href="../img/icons.svg#x"></use>
    </svg>
  </button>
  <p class="modal-buy-title">leave a review about <span>our chocolate</span></p>
  <form name="signup_form" autocomplete="on">
    <input
      id="Name"
      class="modal-buy-input"
      type="text"
      placeholder="Name"
      pattern="[a-z]{3,16}"
      title="Surname 3-20 characters"
      minlength="3"
      maxlength="20"
      required
    />
    <input
      id="mail"
      class="modal-buy-input"
      type="email"
      required
      minlength="6"
      maxlength="50"
      placeholder="Enter your email"
      pattern="[^@\s]+@[^@\s]+"
      title="Invalid email address"
    />
    <span class="modal-buy-box">
      <input
        class="modal-buy-input"
        type="tel"
        pattern="[0-9]{9}"
        placeholder="Phone number"
        title="Nine digits code"
        required
        maxlength="9"
      />
      <b>
        <svg class="modal-buy-flag" width="24" height="24">
          <use href="../img/icons.svg#flag"></use>
        </svg>
        <span class="modal-buy-code">+380</span>
      </b>
    </span>
    <textarea
      class="modal-buy-textarea"
      name="comment"
      placeholder="Enter text"
    ></textarea>
    <button class="modal-buy-submit js-open-modal" type="submit">Send</button>
  </form>
</div>