.swiper {
  margin-bottom: 0px;
}
.swiper-pagination {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-pagination {
  }
}

.swiper-pagination {
  position: static;
}

.reviews {
  padding: 72px 0;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 128px 0;
  }
}
.reviews .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .reviews .container {
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .container {
    gap: 50px;
  }
}

.reviews-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .reviews-title {
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-title {
  }
}
.reviews-title-accent {
  color: #fd9222;
}
.reviews-list {
  height: 242px;
  display: flex;
  gap: 16px;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .reviews-list {
    gap: 16px;
    height: 240px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-list {
    gap: 28px;
  }
}
.reviews-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  padding: 58px 18px 18px;
  height: 200px;
  width: 335px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9px 26px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .reviews-item {
    width: 344px;
    padding: 58px 16px 16px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-item {
    width: 360px;
    padding: 58px 24px 24px;
  }
}
.reviews-foto {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.reviews-subtitle {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  background-color: transparent;
  display: block;
  margin: auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #111111;
}
@media screen and (min-width: 768px) {
  .reviews-btn {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-btn {
  }
}
