.unique {
  padding-top: 72px;
  font-family: 'Montserrat';
}

.unique-tittle {
  margin: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-dark-color);
  margin-bottom: 24px;
  letter-spacing: -0.03em;
  max-width: 283px;
}

.unique-desc-bl-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-dark-color);
  margin-bottom: 8px;
}

.unique-descr-block-btns {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 14px;
}

.unique-desc-bl-first-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
padding: 6px 16px;
gap: 4px;
background: var(--accent-color);
border-radius: 35px;
border: none;
font-size: 10px;
line-height: calc(12 / 10);
color: var(--text-white-color);
transition: color var(--transition-speed), background-color var(--transition-speed);
}

.unique-desc-bl-first-btn:hover {
background: #FCF1E0;
color: rgba(253, 146, 34, 1);
}

.unique-desc-bl-second-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background: #FAFAFA;
  border: 1px solid #FD9222;
  border-radius: 35px;
  font-size: 10px;
line-height: calc(12 / 10);
transition: color var(--transition-speed), background-color var(--transition-speed);
}

.unique-desc-bl-second-btn:hover {
  background: var(--accent-color);
  color: var(--text-white-color);
}

.unique-desc-block-text {
  font-size: 14px;
line-height: 18px;
letter-spacing: -0.02em;
}

.unique-tittle-accent {
  color: var(--accent-color);
}

.unique-text {
  font-size: 14px;
  line-height: calc(18 / 14);
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.unique-items {
  display: grid;
  gap: 20px;
}

.unique-item {
  border-radius: 15px;
  padding: 28px 55px 71px 56px;
  position: relative;
  overflow: hidden;
}

.unique-img {
  width: 224px;
}

.unique-item:first-child {
  background-color: var(--accent-color);
}

.unique-item:nth-child(even) {
  border: 1px solid var(--accent-color);
}

.unique-item:nth-child(3) {
  background-color: var(--background-dark-color);
}

.unique-item-description {
  position: absolute;
  bottom: 28px;
  left: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* .unique-item:nth-child(odd) {
    color: var(--text-white-color);
  } */

.unique-desc-block {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  /* transform: translatey(100%); */
  background-color: rgba(255, 255, 255, 1);
  padding: 28px;
  border-radius: 15px;
  transition: transform var(--transition-speed);
}

.unique-item:hover .unique-desc-block {
  transform: translatex(0);
}

@media screen and (min-width: 768px) {
  .unique-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }

  .unique-tittle {
    max-width: 350px;
    line-height: calc(28 / 24);
  }

  .unique-text {
    width: 486px;
    margin-left: auto;
    margin-right: auto;
  }

  .unique {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .unique-tittle {
    margin-bottom: 28px;
  }

  .unique-text {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-item {
    padding: 28px 56px 71px 56px;
  }

  .unique-tittle {
    line-height: calc(28 / 24);
  }

  .unique {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .unique-item {
    padding: 28px 36px 82px 28px;
  }

  .unique-img {
    width: 206px;
  }

  .unique-items {
    flex-wrap: nowrap;
    row-gap: 0px;
    column-gap: 19px;
  }
}
